body{
    background-color: coral;
}
.head{
    color: darkblue;

}
#bglime{
    background-color: rgb(109, 211, 84);
}
#bglime>span{
    color: red;
}
#para{
    color: rgb(58, 150, 58);
}
p {
    color: white;
}
ul{
    color: white;
}
p>span{
    color: black;
    font-size: larger;
}
ul li:first-child a{
    background-color: yellow;
}
ul li:last-child a{
    background-color: rgb(96, 96, 248);
}
ol li:nth-child(2){
    color: blue;
}
ol li:nth-child(3){
    color: red;
}
